header{
  padding-top: 10px;
  display: inline-block;
  .group-counter{
    float: left;
    font-size: 30px;
    text-align: center;
    color: dodgerblue;
  }

  .group-name{
    float:left;
    margin-top: 3px;
    margin-left: 10px;
    min-width: 100px;
  }
}


section{
 color: #9E9E9E;
}
