header{

  padding-top: 10px;
  display: inline-block;
}


header .group-counter{
  position: absolute;
  float: left;
  font-size: 30px;
  text-align: center;
  color: dodgerblue;
  font-family: 'Oswald', sans-serif;
}



header .group-name{
  color: black;
  float:left;
  margin-top: 3px;
  margin-left: 30px;
  min-width: 60px;
  word-break: break-all;
  font-family: 'Oswald', sans-serif;

}


section{
  word-break: break-all;
  color: #9E9E9E;
}
