section{
  background: white;
  box-shadow: 2px 2px 2px gray;
}

form .buttons,
  form h3{
  text-align: center;
}

form button{
  width: 69px;

}

fieldset{
  font-family: 'Oswald', sans-serif;
  text-align: center;

}
fieldset button{
  width: auto;
}


form textarea {
  resize: none;
}




