<section class="container" *ngIf="dataGroup != null">
  <div class=""  *ngFor="let singleData of dataGroup; let i = index " [@flyIn]="'in'">
    <div class=" grid-element col-sm-5 col-md-3" (mousemove)="addClass = i"  (mouseleave)="addClass = -1" [ngClass]="addClass==i ? 'hover-grid' : ''" *ngIf="edit != i+'edit' && edit != i+'delete' && edit != i+'add'">
      <div class="option-buttons">
        <span style=" top: 0; position: absolute; left: 0;" (click)="edit = i+'edit'"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></span>
        <span style="right: 5px; top: 0; position: absolute; color: darkred" (click)="edit = i+'delete'"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></span>
        <span style=" right: 30px; top: 0;  position: absolute; color:#01579B; " (click)="edit = i+'add'"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></span>
        <span class="btn btn-info" style=" font-size:15px; left: 0 ;bottom: 0; right: 0; position: absolute;" (click)="onOpen(i)">Open</span>
      </div>
      <div class="main-content"  >
        <app-list-element [singleData]="singleData"></app-list-element>
      </div>
    </div>
    <div [@appeared]="'in'" class="new-element col-sm-5 col-md-3" *ngIf="edit == i+'edit'"><app-edit-create [editContent]="singleData" (canceled)="edit = ''"></app-edit-create></div>
    <div [@appeared]="'in'" class="insert-link  col-sm-5 new-element col-md-3" *ngIf="edit == i+'add'"><app-edit-create-links [singleGroup]="singleData"  (canceled)="edit = ''"></app-edit-create-links></div>

    <div [@appeared]="'in'" class="new-element col-sm-5 col-md-3 deleting" *ngIf="edit == i+'delete'">
      <p>Are you sure that you want to delete this group ?</p>
      <button class="btn btn-danger" (click)="onDelete(singleData)">Yes</button>
      <button class="btn btn-primary" (click)="edit = ''">Not</button>
    </div>
  </div>

  <div [@appeared]="'in'" class="new-element col-sm-5 col-md-3" *ngIf="createNew"><app-edit-create (canceled)="createNew = false"></app-edit-create></div>
  <div [@flyIn]="'in'" class="new-create col-sm-5 col-md-3" *ngIf="!createNew" (click)="createNew = true"><button class="btn">+</button></div>

</section>
