
.grid-element{
  transition: all 0.2s;
  height: 200px;
  margin: 10px;
  background: white;
  border: 1px solid #337ab7;
  box-shadow: 2px 2px 2px gray;
  overflow: hidden;
  padding-bottom: 5px;

  &:hover,
  &:focus,
  &:active,
  .hover-grid{
    background: #FAFAFA;

    .main-content{
      transition: all 0.2s;
      margin-top: 35px;
      opacity: 0.3;
    }
    .option-buttons{
      display: block;
      opacity: 1.0;

    }
  }
}

.insert-link{
  padding-top: 55px !important;
}

.option-buttons{
  transition: all 0.2s;
  opacity: 0.5;
  display: none;
    span{
      z-index: 10;
      transition: all 0.2s;
      font-size: 20px;
      margin: 10px;
      span{
        &:hover,
        &:focus,
        &:active{
          margin-top: 8px;
          cursor: pointer;
        }
      }

      img{
         width: 20px;
       }
    }
}

.deleting{
  text-align: center;
  p{
    margin-top: 30px;
  }
}

.new-element{
  height: 200px;
  padding: 10px;
  margin: 10px;
  background: white;
  box-shadow: 2px 2px 2px gray;
}

.new-create{

  text-align: center;
  vertical-align: middle;

  button{
    color:#337ab7 ;
    font-size: 80px;
    transition: all 0.4s;
    border-radius: 50%;
    line-height: 1.33;
    padding:0 0 0 0;

    background:#ECEFF1;
    &:hover,
    &:focus,
    &:active{
      color: #01579B;
      opacity: 0.9;
      cursor: pointer;
      text-decoration: none;
    }
  }

}


@media screen and (min-width: 768px){
  .new-create{
    margin-top: 70px;
    text-align: center;
  }
}

@media screen and (max-width: 991px){
  .grid-element{
    height: 230px;
  }
  .new-element{
    height: 230px;
  }
}

@media screen and (max-width: 768px){
  .grid-element{
    height: 170px;
  }
  .new-element{
    height: 200px;
  }
}

@media screen and (max-width: 430px){
  .grid-element{
    height: 200px;
  }
  .new-element{
    height: 200px;
  }
}

