$mainColor : #3F51B5;


#no-data{
  min-height: 80px;
  box-shadow: none;
  border: 1px dashed $mainColor;
  background: #E0E0E0;

  p{
    color:#757575;
    font-size: 18px;
  }
}


.btn{
  border-radius: 0;
}
.btn-primary{
  background: $mainColor;

  &:hover{
    background: #5C6BC0;
  }
}

.option-buttons .btn:hover{
  -webkit-box-shadow: 2px 2px 2px rgba(128,128,128,1);
  -moz-box-shadow: 2px 2px 2px  rgba(128,128,128,1);
  box-shadow: 2px 2px 2px 0px rgba(128,128,128,1);
}
.container{
  margin-bottom: 50px;
}

div h1{
  color: $mainColor;
   text-shadow: 1px 1px gray;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
  small{
    color: #455A64;
  }
}

.grid-element{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 200px;
  margin: 10px;
  background: #FAFAFA;
  border: 1px solid $mainColor;
  //-webkit-box-shadow: 1px 2px 3px 0px rgba(84,110,122,1);
  //-moz-box-shadow: 1px 2px 3px 0px rgba(84,110,122,1);
  //box-shadow: 1px 2px 3px 0px rgba(84,110,122,1);
  word-wrap:break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  padding-bottom: 5px;
  //overflow-y:hidden;
}
.grid-element:hover,
  .grid-element:focus,
  .grid-element:active,
  .grid-element .hover-grid{
  background: #FfFfFf;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(84,110,122,1);
  -moz-box-shadow: 3px 4px 5px 0px rgba(84,110,122,1);
  box-shadow: 3px 4px 5px 0px rgba(84,110,122,1);
}
.grid-element:hover .main-content,.grid-element:focus .main-content,.grid-element:active .main-content,.grid-element .hover-grid .main-content{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 40px;
  font-size: 10px;
  opacity: 0.2;
  height: 100px;
}
.grid-element:hover .option-buttons,.grid-element:focus .option-buttons,.grid-element:active .option-buttons,.grid-element .hover-grid .option-buttons{
  display: block;
  opacity: 1.0;
}

.insert-link{
  padding-top: 55px !important;
}

.option-buttons{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.5;
  display: none;


}

.option-buttons span{
  word-break: break-all;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 20px;
  margin: 10px;
}

.option-buttons span span:hover,
        .option-buttons span span:focus,
        .option-buttons span span:active{
  text-shadow: 1px 1px gray;
  cursor: pointer;
}

.option-buttons span img{
  width: 20px;
}

.deleting{
  text-align: center;
}

.deleting p{
  margin-top: 30px;
}

.new-element{
  border: 1px solid $mainColor;
  font-family: 'Oswald', sans-serif;
  height: 200px;
  padding: 10px;
  margin: 10px;
  background: white;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(84,110,122,1);
  -moz-box-shadow: 2px 3px 5px 0px rgba(84,110,122,1);
  box-shadow: 2px 3px 5px 0px rgba(84,110,122,1);
}

.new-create{

  vertical-align: middle;
  margin-top: 70px;
  text-align: center;

}


.new-create span{
  color:$mainColor;
  font-size: 80px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 50%;
  line-height: 1.33;
  padding:0 0 0 0;
}

.new-create span:hover,
    .new-create span:focus,
    .new-create span:active{
  text-shadow: 1px 1px gray;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #3949AB;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  //border: 1px solid #ECEFF1;
}




@media screen and (min-width: 768px){


}

@media screen and (max-width: 991px){
  .grid-element{
    height: 230px;
  }
  .new-element{
    height: 230px;
  }
}

@media screen and (max-width: 768px){
  .grid-element{
    height: 200px;
  }
  .new-element{
    height: 200px;
  }
}

@media screen and (max-width: 430px){
  .grid-element{
    height: 200px;
  }
  .new-element{
    height: 200px;
  }
}

@media screen and (max-width: 576px){
  .col-xs-5{
    width: 100%;
  }
  .grid-element{
    margin-left: 0;
    margin-right: 0;
  }
  .new-element{
    margin-left: 0;
    margin-right: 0;
  }
  .new-create{
    margin-top:0;
  }
}

