 div h1{
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
}

.grid-element{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 200px;
  margin: 10px;
  background: #FAFAFA;
  //border: 1px solid #337ab7;
  box-shadow: 2px 2px 2px gray;
  word-wrap:break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  padding-bottom: 5px;
  //overflow-y:hidden;
}
.grid-element:hover,
  .grid-element:focus,
  .grid-element:active,
  .grid-element .hover-grid{
  background: #FfFfFf;
}
.grid-element:hover .main-content,.grid-element:focus .main-content,.grid-element:active .main-content,.grid-element .hover-grid .main-content{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 40px;
  font-size: 10px;
  opacity: 0.2;
  height: 100px;
  //overflow-wrap: break-word;
}
.grid-element:hover .option-buttons,.grid-element:focus .option-buttons,.grid-element:active .option-buttons,.grid-element .hover-grid .option-buttons{
  display: block;
  opacity: 1.0;
}

.insert-link{
  padding-top: 55px !important;
}

.option-buttons{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.5;
  display: none;
  z-index: 100;

}

.option-buttons span{
  word-break: break-all;
  z-index: 100;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 20px;
  margin: 10px;
}

.option-buttons span span:hover,
        .option-buttons span span:focus,
        .option-buttons span span:active{
  margin-top: 8px;
  cursor: pointer;
}

.option-buttons span img{
  width: 20px;
}

.deleting{
  text-align: center;
}

.deleting p{
  margin-top: 30px;
}

.new-element{
  font-family: 'Oswald', sans-serif;
  height: 200px;
  padding: 10px;
  margin: 10px;
  background: white;
  box-shadow: 2px 2px 2px gray;
}

.new-create{

  vertical-align: middle;
  margin-top: 70px;
  text-align: center;

}


.new-create span{
  color:#546E7A;
  font-size: 80px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 50%;
  line-height: 1.33;
  padding:0 0 0 0;
}

.new-create span:hover,
    .new-create span:focus,
    .new-create span:active{
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #01579B;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  //border: 1px solid #ECEFF1;
}




@media screen and (min-width: 768px){


}

@media screen and (max-width: 991px){
  .grid-element{
    height: 230px;
  }
  .new-element{
    height: 230px;
  }
}

@media screen and (max-width: 768px){
  .grid-element{
    height: 200px;
  }
  .new-element{
    height: 200px;
  }
}

@media screen and (max-width: 430px){
  .grid-element{
    height: 200px;
  }
  .new-element{
    height: 200px;
  }
}

@media screen and (max-width: 576px){
  .col-xs-5{
    width: 100%;
  }
  .new-create{
    margin-top:0;
  }
}

