.btn-back{
  padding : 5px;
  text-align: center;
  z-index: 10000 ;
  position: fixed;
  left: 15px;
  top: 10px;
  font-size: 30px;
  //opacity: 0.5;
  color: whitesmoke;
  &:hover{
    color: #B0BEC5;
  }
}

.btn-back:hover{
  cursor: pointer;
  opacity: 1.0;
}

.group-body .links{
  margin-top: 5px;
}

.options{
  margin-left:10px;
  margin-bottom: 10px;
}

.panel-body ,
.panel-footer{
  font-family: 'Oswald', sans-serif;
  word-wrap:break-word;
}



hr{
  border: 1px solid lightgray;
}

a:hover,
  a:focus,
  a:active{
  cursor: pointer;
}
.container{
  margin: 10px;
}



.group-new{
  text-align: center;
}


.new-create{

  text-align: center;
  vertical-align: middle;

}


.new-create span{
  color:#546E7A;
  font-size: 80px;
  -webkit-transition : all 0.4s;
  transition: all 0.4s;
  border-radius: 50%;
  line-height: 1.33;
  padding:0 0 0 0;
  background:#ECEFF1;
}


.new-create span:hover,
.new-create span:focus,
.new-create span:active{
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #01579B;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  //border: 1px solid #ECEFF1;
}

.description{
  //text-align: center;
  margin-left: 40px;
  color: darkgray;
}

header{
  font-family: 'Oswald', sans-serif;
  padding-top: 10px;
  margin-left: 40px;
  display: inline-block;
}

header .group-counter{
  font-family: 'Oswald', sans-serif;
  float: left;
  font-size: 30px;
  text-align: center;
}

header .group-name{
  font-family: 'Oswald', sans-serif;
  color: darkgray;
  float:left;
  margin-top: 30px;
  margin-left: 10px;
  min-width: 50px;
}
