$fonts: 'Patua One', cursive;
$mainColor : #3F51B5;

#no-data{
  text-align: center;
  box-shadow: none;
  border: 1px dashed $mainColor;
  background: #E0E0E0;

  .panel-body{
    color:#757575;
    font-size: 18px;
  }
}

.container-fluid{
  margin-bottom: 50px;
}
.btn-back{
  padding : 5px;
  text-align: center;
  z-index: 10000 ;
  position: fixed;
  left: 15px;
  top: 10px;
  font-size: 30px;
  //opacity: 0.5;
  color: whitesmoke;
}

.btn-back:hover{
  color: #B0BEC5;
}

.btn-back:hover{
  cursor: pointer;
  opacity: 1.0;
}

.group-body .links{
  margin-top: 5px;
}


.options{
  margin-left:10px;
  margin-bottom: 10px;
}

.options a{
  margin-right: 5px;
}

.panel-body ,
.panel-footer{
  font-family: 'Oswald', sans-serif;
  word-wrap:break-word;
}



hr{
  border: 1px solid lightgray;
}

a:hover,
  a:focus,
  a:active{
  cursor: pointer;
}
.container{
  margin: 10px;
}



.group-new{
  text-align: center;
}


.new-create{

  text-align: center;
  vertical-align: middle;

}


.new-create span{
  color:$mainColor;
  font-size: 80px;
  -webkit-transition : all 0.4s;
  transition: all 0.4s;
  border-radius: 50%;
  line-height: 1.33;
  padding:0 0 0 0;
  //background:#ECEFF1;
}


.new-create span:hover,
.new-create span:focus,
.new-create span:active{
  text-shadow: 1px 1px gray;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #3949AB;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
}

.description{
  margin-left: 40px;
  color: darkgray;
}

header{
  font-family: 'Oswald', sans-serif;
  padding-top: 10px;
  margin-left: 40px;
  display: inline-block;
}

header .group-counter{
  color: $mainColor;
  text-shadow: 1px 1px gray;
  font-family: 'Oswald', sans-serif;
  float: left;
  font-size: 30px;
  text-align: center;
}

header .group-name{
  color: #455A64;
  text-shadow: 1px 1px gray;
  font-family: 'Oswald', sans-serif;
  float:left;
  margin-top: 30px;
  margin-left: 10px;
  min-width: 50px;
}
