
<div class="body-pic">
    <section class="container-fluid">
        <div class="container">
            <div class="col-xs-12 col-sm-6 description" >
                <p>Welcome to Linkers</p>
                <small>Save you favorite links online and use it everywhere.</small>
            </div>
            <div class="col-xs-12 col-sm-6" >
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</div>
<!--<section class="container">-->
    <!--<h1>How it works ?</h1>-->
    <!--<div class="row">-->
        <!--<h2>Create an account.</h2>-->
        <!--<div class="col-xs-12">-->
            <!--img-->
        <!--</div>-->
    <!--</div>-->

<!--</section>-->
