.registration{
  text-align: center;
}

.registration a{
  font-size: 18px;
  margin: 10px;
}

.registration a:hover{
  text-decoration: none;
  cursor: pointer;
}

.forms{
  background: white;
  border: 1px solid #337ab7;
  padding: 20px;
}

.forms form div{
  text-align: center;
}
