$textColorNavBar: #ECEFF1;

section{
  height: 20px;
}


.image,
.user-name{
  font-family: 'Patua One', cursive;
  position: absolute;
  right: 15px;
  top: 18px;
  color: $textColorNavBar;
  display: inline-block;

}


.image:hover,
  .image:focus,
  .image:active,
  .user-name:hover,
  .user-name:focus,
  .user-name:active{

  cursor: pointer;color: #BDBDBD;
}


.logo{
  font-family: 'Patua One', cursive;
  color:$textColorNavBar;
  display:inline-block;
}


.logo a{color:$textColorNavBar;text-decoration: none;
}


.logo a:hover{color: #BDBDBD;
}


.logo h4{
  margin-top: 22px;
  //margin-left: 10px;
}




@media screen and (max-width: 600px){
  .user-name{
    //display:none;
  }
}
