$textColorNavBar: whitesmoke;

.image,
.user-name{
  color: $textColorNavBar;
  display: inline-block;
  float:right;
  h5{
    margin-right: 10px;
    margin-top: 15px;
  }

  img{
    margin-right: 6px;
    margin-top: 6px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  &:hover{
    cursor: pointer;
    color:#E0E0E0;
  }

}


.logo{
  color:$textColorNavBar;
  display:inline-block;
  a{
    color:$textColorNavBar;
    text-decoration: none;
  }
  h4{
    margin-top: 15px;
    margin-left: 10px;
  }
}




@media screen and (max-width: 430px){
  .user-name{
    display:none;
  }
}
