$background : #1976D2;

.container{
  padding-top: 10px;
}
footer{
  font-family: 'Patua One', cursive;
  min-height: 20px;
  position: relative;
  bottom: 0;
  right:0;
  left: 0;
  background:#3F51B5;
  color:#ECEFF1;
}


.container-fluid{
  margin-top: 90px;
  min-height: 520px;
}






//Left menu bar and button on small position
app-left-menu{
  -webkit-transition : all  0.5s;
  transition: all  0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

aside{

  //-webkit-box-shadow: -2px 3px 5px 0px rgba(84,110,122,0.9);
  //-moz-box-shadow: -2px 3px 5px 0px rgba(84,110,122,0.9);
  //box-shadow: -2px 3px 5px 0px rgba(84,110,122,0.9);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background:#3F51B5;
  height: 65px;
}

@media screen and (max-width: 930px){
}


@media screen and (max-width: 768px){
  .container-fluid{
    min-height: 700px;
  }
  footer{
    text-align: center;
  }

}


@media screen and (max-width: 400px){
  .container-fluid{
    min-height: 750px;
  }

}

@media screen and (max-width: 350px){
  .container-fluid{
    min-height: 840px;
  }

}


