$topMenuColor : to bottom , #01579B, #0288D1 , #01579B;

.container-fluid{
  margin-top: 90px
}



//Left menu bar and button on small position
app-left-menu{
  -webkit-transition : all  0.5s;
  transition: all  0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //background: url("/assets/images/background.jpg") no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;

  //height: 60px;

  z-index: 1000;
  background-color: #0288D1;
}

aside{

  box-shadow: 3px 3px 3px gray;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:#0288D1;
  height: 70px;
}

@media screen and (max-width: 930px){
}


@media screen and (max-width: 768px){

}



